<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BARevitTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <BARevitTools.Properties.Settings>
            <setting name="SqlServerName" serializeAs="String">
                <value>tableau\\sqlexpress,1433</value>
            </setting>
            <setting name="SqlBARevitToolsDbName" serializeAs="String">
                <value>db_BARevitTools</value>
            </setting>
            <setting name="SqlServerUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SqlServerPwd" serializeAs="String">
                <value>Boulder4747</value>
            </setting>
            <setting name="BARTBAAdminUsers" serializeAs="String">
                <value>clicea,mzabritski,administrator</value>
            </setting>
            <setting name="BARTDevelopmentUrl" serializeAs="String">
                <value>https://trello.com/b/AwuKWC3E/bart-development</value>
            </setting>
            <setting name="UrlBARTLearning" serializeAs="String">
                <value>http://bimhaus.boulderassociates.com/bart</value>
            </setting>
            <setting name="ExcelWorksheetPwd" serializeAs="String">
                <value>T3kZ!lla</value>
            </setting>
            <setting name="SqlAppUseTableName" serializeAs="String">
                <value>BARevitTools_AppUse</value>
            </setting>
            <setting name="SqlBABimDbName" serializeAs="String">
                <value>babim</value>
            </setting>
            <setting name="UrlRoomsSRRN" serializeAs="String">
                <value>https://www.youtube.com/watch?v=FKj5kopYC4w&amp;feature=youtu.be</value>
            </setting>
            <setting name="UrlViewsCEPR" serializeAs="String">
                <value>https://www.youtube.com/watch?v=O4tEqu9wHLk</value>
            </setting>
            <setting name="RevitFamilyMaterialsCMSSymbIdMaterialSchedule"
                serializeAs="String">
                <value>\\boulderassociates.com\corp\cad\Revit\BA Families\BA 2018\Annotations\Symbols\SYMB ID Material Schedule.rfa</value>
            </setting>
            <setting name="BARTRevitFamilyCurrentYear" serializeAs="String">
                <value>2018</value>
            </setting>
            <setting name="SqlBARevitFamiliesDataTable" serializeAs="String">
                <value>BARevitFamilies2018</value>
            </setting>
            <setting name="SqlBADetailsDataTable" serializeAs="String">
                <value>BADetailsViews</value>
            </setting>
            <setting name="SqlBAPackagesDataTable" serializeAs="String">
                <value>BARevitPackages</value>
            </setting>
            <setting name="RevitProjectBADetails" serializeAs="String">
                <value>\\boulderassociates.com\corp\cad\Revit\BA Details\BA Details A18.rvt</value>
            </setting>
            <setting name="BARTBARevitFamilyLibraryPath" serializeAs="String">
                <value>C:\Users\clicea\Desktop\BA 2018</value>
            </setting>
            <setting name="RevitRoomTagSymbol" serializeAs="String">
                <value>\\boulderassociates.com\corp\cad\Revit\BA Families\BA 2018\Annotations\Symbols\SYMB Room Name and Number.rfa</value>
            </setting>
        </BARevitTools.Properties.Settings>
    </applicationSettings>
</configuration>
